extends layout 

block content 

  h1= title 

  if messages
    for message in messages 
      div.message 
        if locals.currentUser 
          if locals.currentUser.member
            span.authorinfo 
              p Author
              a(href=message.user.url)= message.user.username
        a(href=message.url).message-title= message.title 
        span.message-text= message.text
        p= message.timestamp

  else 
    h2 There are no messages
